body,html{
    height: 100%;
    margin: 0;
}

/* Outline for layout clarity 
.container > div {
 outline: 1px solid black;
}
*/


/* Page Container  */ 
.container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr ;
    
}


/*Header    */
.header{
    grid-column: 2/end;
    display: flex;
    flex-direction: column;
    padding: 20px;
   
   
}


.header-top, .header-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top{
    padding-bottom: 30px;
}

.search-bar{
    display: flex;
    gap: 15px;
    height: 30px;
}

#search{
    width: 600px;
    border-radius: 15px;
    background-color: #e1dddd;
    border: 0;
}


.profile-box{
    display: flex;
    align-items: center;
    gap: 30px;
}

.profile-welcome{
    display: flex;
    gap:20px;
}

.title {
    align-self: end;
    font-size: 12px;
}

.profile-welcome .title .profile-header{
    font-size: 36px;
    font-weight: bold;
}

.profile-sub-title{
    font-size: 24px;
    font-weight: bold;
}


.buttons{
    align-self: center;
    
    display: flex;
    gap: 45px;
  
}

.button{
    background-color: #0091E8;
    width: 140px;
    border-radius: 25px;
    height: 50px;
    border:0;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.button:hover{
    background-color: #025588;
}

.button:active{
    box-shadow: inset 10px 10px  #012e49;
}


/*Sidebar    */
.sidebar{
    grid-row: 1/3;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    background-color: #0091E8;
    color: white;
    font-size: 20px;
    font-weight: 600;
    gap: 45px;
    padding: 24px;
}

.sidebar-content{
    margin-bottom: 30px;
    display: flex;
    gap: 18px;
}

.logo{
    font-size: 26px;
    font-weight: bold;
}







/*Main Content    */
.content{
    grid-column: 2/end;
    display: grid;
    grid-template-columns: 3fr 1fr;

    background-color: rgb(231, 228, 228);
    
}

.cards{
    grid-row: 2/5;
    display: grid;
    padding: 15px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap:15px;
    margin-top: 24px;
}

.card{
    background-color: white;
    height: 200px;
    align-self: start;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(134, 129, 129);
    border-left: 10px solid rgb(255, 179, 0);


}

.trending, .announcements{
    grid-column: 2/3;
    padding: 20px;
    font-size: 12px;
    background-color: white;
    margin: 35px;
    border-radius: 18px;
    box-shadow: 3px 3px 5px rgb(134, 129, 129);
}


.trend{
    display: flex;
    padding: 6px;
    gap: 10px;
}

.profile{
    border-radius: 50%;
}
