body,html{
    height: 100%;
    margin: 0;
}
/* Outline for layout clarity */
.container > div {
    outline: 1px solid black;
}


/* Page Container  */ 
.container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr ;
    
}


/*Header    */
.header{
    grid-column: 2/end;
    display: grid;
    grid-template-rows: 1fr 1fr;
   
   
}

.header-top, .header-bottom{
    display: grid;
    grid-template-columns: 3fr 1fr;
}



/*Sidebar    */
.sidebar{
    grid-row: 1/3;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
}









/*Main Content    */
.content{
    grid-column: 2/end;
    display: grid;
    grid-template-columns: 3fr 1fr;

    background-color: rgb(231, 228, 228);
    
}

.cards{
    grid-row: 2/5;
    display: grid;
    padding: 15px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap:15px;
    margin-top: 24px;
}

.card{
    background-color: white;
    height: 200px;
    align-self: start;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(134, 129, 129);
    border-left: 10px solid rgb(231, 231, 2);


}

.trending, .announcements{
    grid-column: 2/3;
    padding: 20px;
    font-size: 12px;
    background-color: white;
    margin: 35px;
    border-radius: 18px;
    box-shadow: 3px 3px 5px rgb(134, 129, 129);
}


.trend{
    display: flex;
    padding: 6px;
    gap: 10px;
}

.profile{
    border-radius: 50%;
}
